name: CI

on: push

jobs:
  build:
    runs-on: self-hosted
    steps:
      - name: Descargar repositorio
        uses: actions/checkout@v2

      - name: Pruebas unitarias
        run: mvn test

      - name: Compilar la aplicaci贸n sin repetir pruebas
        run: mvn clean package -DskipTests=true

  test:
    needs: build
    runs-on: self-hosted
    steps:
      - name: Instalar aplicaci贸n en Tomcat
        run: cp -r target/Baloncesto /usr/local/tomcat/webapps

      - name: Preparar base de datos de prueba
        run: |
          mysql -u root < db/baloncesto.sql
          export DATABASE_HOST="jdbc:mysql://localhost"
          export DATABASE_PORT="3306"
          export DATABASE_NAME="baloncesto"
          export DATABASE_USER="usuario"
          export DATABASE_PASS="clave"
          sh /usr/local/tomcat/bin/catalina.sh stop
          sh /usr/local/tomcat/bin/catalina.sh start

      - name: Realizar pruebas funcionales
        run: mvn failsafe:integration-test failsafe:verify

  qa:
    needs: test
    runs-on: self-hosted
    continue-on-error: true
    steps:
      - name: Calidad del c贸digo
        run: |
          mvn sonar:sonar -Dsonar.host.url=http://sonarqube:9000 -Dsonar.qualitygate.wait=true -Dsonar.login=admin -Dsonar.password=admin123

  deploy:
    needs: qa
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'
    steps:
      - name: Descargar repositorio
        uses: actions/checkout@v3

      - name: Crear el archivo .war
        run: mvn package -DskipTests=true

      - name: Aprobaci贸n manual
        uses: trstringer/manual-approval@v1
        with:
          secret: ${{ secrets.TOKEN }}
          approvers: alvaro-ruizcalzada-uah
      
      - name: Desplegar en Azure
        uses: Azure/webapps-deploy@v3
        with:
          app-name: baloncesto-ruizcalzada
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          package: target/*.war
